* {
  box-sizing: border-box;
  /*ajusta al tamaño de la caja*/
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

/*comienzo de header*/
header {
  background-color: rgb(255, 170, 170);

}

#logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

#logodeelmundodelareposteria img {
  width: 175px;
  height: 150px;
}

/*fin header*/
/*inicio de main*/
section {
  padding: 20px;
  background-color: #ebc7c7;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: 100%;
  text-decoration: underline;
  font-size: 500px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
}

.foto {
  min-height: 120px;
  padding: 35px 10px 10px 10px;
  font-size: 11px;
  border-bottom: 2px solid #000;
}

/*pagina faciles*/
.faciles h2 {
  text-align: center;
}

main {
  padding: 1rem;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

table,
tr,
td,
th {
  border: solid rgb(234, 160, 160) 2px;
padding: 10px;
}

th, td {
padding: 12px;
vertical-align: top;
text-align: center;
}

th {
  background-color: pink;
  text-align: center;
}

tr:hover {
  background-color: rgba(253, 227, 231, 0.734);
}

/*ajuste para que las imagenes y los videos dentro de la tabla no se rompan*/
td img {
  width: 100%;
  margin: 0 auto;
}

td iframe {
  width: 100%;
  height: auto; /*permite que el alto crezca prporcionalmente*/
  border: none;
}

h3 {
  width: 150px;
  margin: 0 auto;
}

.videos {
  background-color: #555;
  width: 630px;
  height: 320px;
  box-shadow: #555 5px 2px;
  text-align: center;
  margin: 0 auto;
}

/*Libros*/
#formulario {
  width: 500px ;
  height: 800px ;
  float: left;
  background-color: aqua;
  padding: 25px;
}

/*fin de main*/
/*comienzo de nav*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

.activo {
  /*border-bottom: #555 solid 3px;*/
  box-shadow: 5px 4px rgb(253, 133, 191);
}

nav a:hover {
  background-color: rgb(255, 164, 228);


}

/*fin de nav*/

/*presentacion*/
#presentacion {
  height: 600px;
}
iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/*comienzo de footer*/
footer {
  background-color: black;
  color: white;
  font-size: smaller;
  display: flex;
  /*muestra el completo ajustes*/
  flex-wrap: wrap;
  /*align-items: center;
  justify-content: center;*/
  justify-content: space-evenly;
}

#colegio {
  width: 33%;
  background-color: rgb(241, 104, 189);
  padding: 5px;
}

#alumno {
  width: 33%;
  background-color: rgb(255, 154, 225);
  color: #555;
  padding: 5px;
}

#sociales {
  width: 33%;
  background-color: rgb(236, 191, 223);
  padding: 5px;
}

#sociales img {
  width: 50px;
}

/*fin de footer*/

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}